.inner {
  width: 100%;
}

.input-modify {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1 1;
  gap: 1rem;
}

@media screen and (max-width: 740px) {
  .App {
    width: 100%;
  }
}
