$bg-color: rgba(256, 256, 256, 0.4);
.item-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.75rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 0px;
  --ms-overflow-style: none;
}
.item-row::-webkit-scrollbar {
  display: none;
}

.item-colum {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 0.75rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.item-inner {
  width: 300px;
  padding: 0.5rem;
  margin-top: 3rem;
  border-radius: 1.5rem;
  background-color: $bg-color;
  cursor: pointer;
  position: relative;
}

.item-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  object-fit: contain;
}

.item-image img {
  display: block;
  width: 10rem;
  height: 10rem;
  object-fit: contain;
  border-radius: 1.5rem;
}

.item-image img :hover {
  transform: scale(1.5);
}

.item-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-icon-custom {
  cursor: pointer;
}

.add-to-cart {
  width: 2rem;
  height: 2rem;
  background-color: rgb(220 38 38);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
}

.add-to-cart:hover {
  box-shadow: 0 4px 6px -1px;
}

.item-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.item-name {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  color: rgb(81 81 81);
}

.item-calories {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(107 114 128);
}

.item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-price p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.item-price span {
  color: rgb(239 68 68);
}

.items-notfound {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items-notfound img {
  width: 50%;
}

.items-notfound p {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem;
  font-weight: 600;
  margin: 0.5rem auto;
}
